<nav>
    <div class="container-fluid">
        <div class="row">
            
            <% if (!usuario) { %>
                <div class="col-12 d-flex justify-content-between">
                    <!--Menu hamburguesa, sidebar y logo-->
                    <div class="col-4 d-flex ml-0 pl-2 pb-2">
                        <span style="font-size:30px;cursor:pointer;padding-top: 10px; padding-right: 1rem;" onclick="openNav()">&#9776; </span>
                        <a href="/"><img class="d-none d-md-block" src="/img/logonegro@.png" alt=""></a>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="/productos/mujer">MUJER</a>
                            <a href="/productos/hombre">HOMBRE</a>
                            <a href="/productos/ninos">NIÑOS</a>
                            <a href="/productos/novedades">NEW IN</a>
                            <a href="/productos/sale">SALE</a>
                            <br>
                            <br>
                            <a href="#">+INFO</a>
                                <a id="menuinfo" href="/newsletter">NEWSLETTER</a>
                                <a id="menuinfo" href="/contacto">CONTACTO</a>
                                <a id="menuinfo" href="/nosotros">NOSOTROS</a>
                                <a id="menuinfo" href="/giftcard">GIFT CARD</a>
                                <a id="menuinfo" href="/ayuda">AYUDA</a>
                            <br>
                            <br>
                            <!--Login-->
                            <div class=" d-sm-block d-md-none">
                                <a  href="/login">LOGIN</a>  
                            </div> 
                        </div>
                    </div>
                    <!--Buscador-->
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <form action="/productos/busqueda" class="d-none d-md-block">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="border-bottom border-dark">
                                <input type="text" placeholder="BUSCAR" name="search" class="border-0 rounded-0 buscar-input">
                            </div>
                            <button type="submit" class="border-0 btn-search"><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>
                    <!--Iniciar sesión, contacto, carrito y modal-->
                    <div class="col-4 d-flex justify-content-end align-items-center pr-4">   
                        <!-- Button trigger modal -->     
                        <div class="col-7 d-flex justify-content-end align-items-center pr-3">   
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-light d-none d-md-block" data-toggle="modal" data-target="#exampleModalCenter">INICIAR SESIÓN</button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="row col-12 mx-auto">
                                                <h3 class="mx-auto pt-3">INGRESA A TU CUENTA</h3>
                                            </div>
                                            <button type="button" class="close" data-dismiss="modal" id="close-iniciar-sesion" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            
                                            <!--Formulario-->
                                            <form action="/login" method="POST" id="formulario">
                                                <div class="form-group col-12 d-flex justify-content-center mb-0 mt-5">
                                                    <input type="Email" name="email" placeholder="Email" class="form-control form-control-sm mb-2 datos-envio-input" value="<%=typeof old == 'undefined' ? '':old.email %>">
                                                </div>
                                                <div class="form-group col-12 d-flex justify-content-center mt-0 mb-1">
                                                    <% if(typeof errors != 'undefined' && errors.email){%>
                                                        <span class="text-danger" > <%=errors.email.msg %></span>
                                                    <%}%>
                                                </div>
                                                <div class="form-group col-12 d-flex justify-content-center mb-0">
                                                    <input type="password" name="contraseña" placeholder="Contraseña" class="form-control form-control-sm mb-2 datos-envio-input">
                                                </div>
                                                <div class="form-group col-12 d-flex justify-content-center mt-0 mb-1">
                                                    <% if(typeof errors != 'undefined' && errors.contraseña){%>
                                                        <span class="text-danger" > <%=errors.contraseña.msg %></span>
                                                    <%}%>
                                                </div>
                                                <div class="col-12 rounded">
                                                    <ul id="errores" class="rounded"> </ul>
                                                </div>
                                                <div>
                                                    <div class="form-check text-center">
                                                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="..." name="recordarme"> Recordarme
                                                    </div>     
                                                    <a href="/recover" class="text-decoration-none text-body text-center"><p>OLVIDÉ MI CONTRASEÑA</p></a>
                                                </div>    
                                                <div class="ingresar">
                                                    <div class="form-group w-60 d-flex justify-content-center">
                                                        <button type="submit" class="col-12 btn btn-dark  w-60">INICIAR SESION</button>
                                                    </div>
                                                    <div class="d-flex justify-content-center">
                                                    <button type="button" class="col-12 btn btn-dark mb-3">INICIO DE SESIÓN CON FB</button>
                                                    </div>
                                                    <div class="d-flex w-60 justify-content-center">
                                                    <button type="button" class="col-12 btn btn-dark mb-2">INICIO DE SESIÓN CON GOOGLE</button>
                                                    </div>
                                                    <div class="d-flex w-60 justify-content-center">
                                                    <a href="login/registro" class="col-12 btn btn-light  btn-lg mt-3" tabindex="-1" role="button" aria-disabled="true">CREAR CUENTA</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Contacto-->
                        <div>
                            <a class="col-3 text-uppercase text-body text-decoration-none p-1 d-none d-md-block" href="/contacto">Contacto  </a>
                        </div>
                        <!--Carrito-->
                        <div class="d-flex col-1">
                            <a href="/carrito"><i class="fas fa-shopping-cart t ml-2 mr-0 pr-0 mt-1" style="font-size: 1.5rem; color: black;"></i></a>
                        </div>
                    </div>
                </div>
            <% } else if(usuario.role !== 9){ %>
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <!--Menu hamburguesa, sidebar y logo-->
                    <div class="col-4 d-flex ml-0 pl-2 pb-2">
                        <span style="font-size:30px;cursor:pointer;padding-top: 10px; padding-right: 1rem;" onclick="openNav()">&#9776; </span>
                        <a href="/"><img class="d-none d-md-block" src="/img/logonegro@.png" alt=""></a>
                        <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="/productos/mujer">MUJER</a>
                        <a href="/productos/hombre">HOMBRE</a>
                        <a href="/productos/ninos">NIÑOS</a>
                        <a href="/productos/novedades">NEW IN</a>
                        <a href="/productos/sale">SALE</a>
                        <br>
                        <br>
                        <a href="#">+INFO</a>
                            <a id="menuinfo" href="/newsletter">NEWSLETTER</a>
                            <a id="menuinfo" href="/contacto">CONTACTO</a>
                            <a id="menuinfo" href="/nosotros">NOSOTROS</a>
                            <a id="menuinfo" href="/giftcard">GIFT CARD</a>
                            <a id="menuinfo" href="/ayuda">AYUDA</a>
                        <br>
                        <br>
                        </div>  
                    </div>
                    <!--Buscador-->
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <form action="/action_page.php" class="d-none d-md-block">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="border-bottom border-dark">
                                <input type="text" placeholder="BUSCAR" name="search" class="border-0 rounded-0 buscar-input">
                            </div>
                            <button type="submit" class="border-0 bg-white"><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>
                    <!--Usuario, contacto y carrito-->
                    <div class="col-4 d-flex justify-content-end align-items-center pr-4">
                        <!--Usuario-->
                        <div class="dropdown d-flex pr-3">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ¡Hola <%= locals.usuario.first_name %> !
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"href="/perfil">Mi perfil</a>  
                                <a class="dropdown-item"href="/logout">Cerrar sesión</a>        
                            </div>                         
                        </div>  
                        <!--Contacto-->
                        <div>
                            <a class="col-3 text-uppercase text-body text-decoration-none p-1 d-none d-md-block" href="/contacto">Contacto  </a>
                        </div>
                        <!--Carrito-->
                        <div class="d-flex col-1">
                            <a href="/carrito"><i class="fas fa-shopping-cart t ml-2 mr-0 pr-0 mt-1" style="font-size: 1.5rem; color: black;"></i></a>
                        </div>
                    </div>
                </div>
            <% } else if(usuario.role == 9){ %> 
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <!--Menu hamburguesa, sidebar y logo-->
                    <div class="col-4 d-flex ml-0 pl-2 pb-2">
                        <span style="font-size:30px;cursor:pointer;padding-top: 10px; padding-right: 1rem;" onclick="openNav()">&#9776; </span>
                        <a href="/"><img class="d-none d-md-block" src="/img/logonegro@.png" alt=""></a>
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="/productos/mujer">MUJER</a>
                            <a href="/productos/hombre">HOMBRE</a>
                            <a href="/productos/ninos">NIÑOS</a>
                            <a href="/productos/novedades">NEW IN</a>
                            <a href="/productos/sale">SALE</a>
                            <br>
                            <br>
                            <a href="#">+INFO</a>
                                <a id="menuinfo" href="/newsletter">NEWSLETTER</a>
                                <a id="menuinfo" href="/contacto">CONTACTO</a>
                                <a id="menuinfo" href="/nosotros">NOSOTROS</a>
                                <a id="menuinfo" href="/giftcard">GIFT CARD</a>
                                <a id="menuinfo" href="/ayuda">AYUDA</a>
                            <br>
                            <br>
                            <!--Administrar-->
                            <div class="dropdown d-flex pr-2 d-none d-sm-block d-md-none">
                                <button class="btn btn-dark dropdown-toggle f ml-3 " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrar
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"href="/adminProducts">Productos</a>  
                                    <a class="dropdown-item"href="/adminUsers">Usuarios</a>    
                                </div>
                            </div>  
                        </div>
                    </div>
                    <!--Buscador-->
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <form action="/action_page.php" class="d-none d-md-block">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="border-bottom border-dark">
                                <input type="text" placeholder="BUSCAR" name="search" class="border-0 rounded-0 buscar-input">
                            </div>
                            <button type="submit" class="border-0"><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>
                    <!--Administrar y usuario-->
                    <div class="col-4 d-flex justify-content-end align-items-center pr-4">
                        <!--Dropdown Administrar-->
                        <div class="dropdown d-flex pr-3">
                            <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Administrar
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"href="/adminProducts">Productos</a>  
                                <a class="dropdown-item"href="/adminUsers">Usuarios</a>        
                            </div>                         
                        </div> 
                        <!--Dropdown Usuario-->       
                        <div class="dropdown d-flex pr-2">
                            <button class="btn btn-light dropdown-toggle d-none d-md-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ¡Hola <%= locals.usuario.first_name %> !
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"href="/perfil">Mi perfil</a>  
                                <a class="dropdown-item"href="/logout">Cerrar sesión</a>        
                            </div>                         
                        </div>        
                        <!--Carrito-->
                        <div class="d-flex col-1">
                            <a href="/carrito"><i class="fas fa-shopping-cart t ml-2 mr-0 pr-0 mt-1" style="font-size: 1.5rem; color: black;"></i></a>
                        </div>
                    </div>
                </div>
            <% }%> 
        </div>
    </div>
</nav>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script src="/js/login.js"></script>