<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/administrar.css">
    <link rel="stylesheet" href="/css/navbar">    
</head>
<body>

    <!-- REVISAR QUE LAS RUTAS COINCIDAN CON ROUTES -->

    <header class="container-fluid">
        <%- include('../partials/navBar.ejs') %>
    </header>

    <main class="container-fluid">

        <!--Listado de productos para administrar-->
        <section class="row">
            <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">administrar</h2>
            </article>
            <article class="col-12 my-3">
                <a href="/adminProducts/create"><button type="button" class="btn btn-outline-dark rounded-0">+ Agregar producto</button>
                </a>
            </article>
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Ver</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% zapatillas.forEach(zapatilla => { %>
                        
                            <tr>
                                <td><%= zapatilla.id %></td>
                                <td><%= zapatilla.brands.name %></td>
                                <td><%= zapatilla.examples.name %></td>
                                <td><a href="/adminProducts/detail/<%= zapatilla.id %>">Ver detalle</a></td>
                                <td><a href="/adminProducts/edit/<%= zapatilla.id%>">Editar producto</a></td>
                                <td><a href="/adminProducts/delete/<%= zapatilla.id%>">Eliminar producto</a></td>
                               
                            </tr>
                           
                        <% }); %> 
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>