<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/administrar.css">
    <link rel="stylesheet" href="/css/navbar.css">    
</head>
<body>

    <!-- REVISAR QUE LAS RUTAS COINCIDAN CON ROUTES -->

    <header class="container-fluid">
        <%- include('../partials/navBar.ejs') %>
    </header>

    <main class="container-fluid">

        <!--Listado de productos para administrar-->
        <section class="row">
            <article class="col-8 mx-auto mb-5">
            <h2 class="titulo-admin pb-3 border-bottom text-center pt-5 mx-auto text-uppercase">administrar usuarios</h2>
            </article>
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rol</th>
                            <th scope="col">Nombre y apellido</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col" class="text-center">Ver</th>
                            <th scope="col" class="text-center">Editar</th>
                            <th scope="col" class="text-center">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% usuarios.forEach(usuario => { %> 
                            <tr>
                                <td><%= usuario.role %></td>
                                <td><%= usuario.first_name + ' ' + usuario.last_name %></td>
                                <td><%= usuario.email %></td>
                                <td class="text-center"><a href="/adminUsers/detail/<%= usuario.id %> "><i class="fas fa-eye"></i></a></td>
                                <td class="text-center"><a href="/adminUsers/edit/<%= usuario.id %> "><i class="fas fa-pencil-alt"></i></a></td>
                                <td class="text-center"><a href="/adminUsers/delete/<%= usuario.id%>"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        <% }); %> 
                    </tbody>
                </table>
            </article>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>