<!doctype html>
<html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminstrar</title>
    <!--Fontawesonme icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Mi CSS-->
    <link rel="stylesheet" href="/css/administrar.css">
    <!--Fuente-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    
  <body>
    <header>
      <%- include('../partials/navBar.ejs') %>
    </header>
    <div class="container-fluid">
      

        <!-- Cuerpo principal -->
        <h1>DETALLE DE PRODUCTO</h1>
        <section class="row">
          <article id="article" class="col-12 col-md-6 mx-auto mt-5">
            <div class="card-body">
              <% for (let i=0; i<1; i++){ %>
                <img src="/images/zapatillas/<%= miZapatilla.imagen[i].filename %>" alt="<%= miZapatilla.marca + " "%><%= miZapatilla.modelo %>" class="col-12 px-0">
              <% } %> 
              <h4 class="card-title">Marca:<%= miZapatilla.marca%></h4>
              <h5 class="card-title">Modelo:<%= miZapatilla.modelo %></h5>
              <h5 class="card-title">$<%= miZapatilla.precio %></h5>  
              <h5 class="card-title">Descuento: <%= miZapatilla.descuento %></h5>            
              <p class="card-text"><%= miZapatilla.descripcion %></p>
              <a href="/admin" class="btn btn-dark">Volver</a>
            </div> 
             
              
         
          </article>
    </section>
    </div>
        <!-- Footer -->
        <%- include('../partials/footer.ejs') %>
</body>
</html>