<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/administrar.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <section class="row">
        <article class="col-12 card pt-5 border-0">
            <div class="card-body">
                <h1 class="col-8 mx-auto pb-3 card-title text-center border-bottom">EDITAR PRODUCTOS</h1>
            </div>
        </article>
    </section>
    
    <section class="bg-home pt-4">
        <div class="container-fluid">
            <div class="row" >
                <!--UL de errores-->
                <div class="col-8 mx-auto">
                    <ul id="errores-edit"></ul>
                </div>
                <div id="editar" class="col-12 mx-auto">
                    <div class="create-form">
                        <form action="/adminProducts/edit/<%= zapatillas.id%>?_method=PUT" method="POST" enctype="multipart/form-data" id="formulario-edit">
                            <!--Inputs-->
                            <div class="col-8 mx-auto px-0">
                                <!--Marca-->
                                <div class="form-group">
                                    <select class="form-control border-0 rounded-0 bg-light" name="marca" value="<%= typeof old != 'undefined' ? old.marca : '' %>">
                                        <option value="Adidas" <%= zapatillas.brands.name == 'Adidas' ? "selected" : null %>>Adidas</option>
                                        <option value="Converse" <%= zapatillas.brands.name == 'Converse' ? "selected" : null %>>Converse</option>
                                        <option value="DC Shoes" <%= zapatillas.brands.name == 'DC Shoes' ? "selected" : null %>>DC Shoes</option>
                                        <option value="New Balance" <%= zapatillas.brands.name == 'New Balance' ? "selected" : null %>>New Balance</option>
                                        <option value="Nike" <%= zapatillas.brands.name == 'Nike' ? "selected" : null %>>Nike</option>
                                        <option value="Reebok" <%= zapatillas.brands.name == 'Reebok' ? "selected" : null %>>Reebok</option>
                                        <option value="Vans" <%= zapatillas.brands.name == 'Vans' ? "selected" : null %>>Vans</option>
                                    </select>
                                </div>
                                <!--Error-->
                                <div class="form-group d-flex justify-content-center mt-0 mb-1">
                                    <% if(typeof errors != 'undefined' && errors.marca){%>
                                        <span class="text-danger" > <%=errors.marca.msg %></span>
                                    <%}%>
                                </div>	
                                <!--Modelo-->
                                <div class="form-group">
                                    <input type="hidden" name="oldExample"  value="<%= zapatillas.examples.name%>">
                                    <input type="text" class="form-control border-0 rounded-0 bg-light" name="modelo" placeholder="Modelo"  value="<%= zapatillas.examples.name%>">
                                </div>
                                <!--Descripción-->
                                <div class="form-group">
                                    <input type="hidden" name="oldDescription"  value="<%= zapatillas.description%>">
                                    <input type="text" class="form-control border-0 rounded-0 bg-light" name="descripcion" placeholder="Descripción del producto"  value="<%= zapatillas.description%>">
                                </div>
                                <!--Precio-->
                                <div class="form-group">
                                    <input type="hidden" name="oldPrice"  value="<%= zapatillas.price%>">
                                    <input type="number" class="form-control border-0 rounded-0 bg-light" name="precio" placeholder="Indique el precio"  value="<%=zapatillas.price%>">
                                </div>
                                <!--Descuento-->
                                <div class="form-group">
                                    <select  name="descuento" class="custom-select border-0 rounded-0 bg-light" id="validationCustom04" required>
                                        <option disabled value="">Seleccione un descuento</option>
                                        <option value="0" <%= zapatillas.discount == 0 ? "selected" : null %>>Sin descuento</option>
                                        <option value="5" <%= zapatillas.discount == 5 ? "selected" : null %>>5%</option>
                                        <option value="10" <%= zapatillas.discount == 10 ? "selected" : null %>>10%</option>
                                        <option value="15" <%= zapatillas.discount == 15 ? "selected" : null %>>15%</option>
                                        <option value="20" <%= zapatillas.discount == 20 ? "selected" : null %>>20%</option>
                                        <option value="25" <%= zapatillas.discount == 25 ? "selected" : null %>>25%</option>
                                        <option value="35" <%= zapatillas.discount == 35 ? "selected" : null %>>35%</option>
                                        <option value="50" <%= zapatillas.discount == 50 ? "selected" : null %>>50%</option>
                                    </select>
                                </div>
                                <!--Aqui solicito la imagen al usuario-->
                                <!--div class="custom-file"-->
                                <!--Color, tales y stock-->
                                <div class="col-12 d-flex justify-content-between mx-0 px-0">
                                    <!--Color-->
                                    <div class="form-group col-2 pl-0">
                                        <input type="color" list="presetColors" class="form-control border-0 rounded-0 bg-light" name="color"  value="<%= zapatillas.color %>" >
                                        <datalist id="presetColors" >
                                            <option value="#b0c9d8"/>
                                            <option value="#2f425f"/>
                                            <option value="#ff641e"/>
                                            <option value="#bab6af"/>
                                            <option value="#7d3d47"/>
                                            <option value="#a19053"/>
                                            <option value="#d6ba9f"/>
                                            <option value="#a4b2ca"/>
                                            <option value="#d3898a"/>
                                            <option value="#aa94a2"/>
                                            <option value="#3c9392"/>
                                            <option value="#98ab2d"/>
                                        </datalist>
                                    </div>
                                    <!--Talles-->
                                    <div class="form-group col-6 pl-0">
                                        <select name="talles" class="selectpicker col-12 select-talles pr-0 form-control" multiple title="Seleccione los talles">
                                            <option disabled value="">Seleccione un talle</option>
                                            <option value="16" <%= zapatillas.sizes.number == 16 ? "selected" : null %>>16</option>
                                            <option value="17" <%= zapatillas.sizes.number == 17 ? "selected" : null %>>17</option>
                                            <option value="18" <%= zapatillas.sizes.number == 18 ? "selected" : null %>>18</option>
                                            <option value="19" <%= zapatillas.sizes.number == 19 ? "selected" : null %>>19</option>
                                            <option value="20" <%= zapatillas.sizes.number == 20 ? "selected" : null %>>20</option>
                                            <option value="27" <%= zapatillas.sizes.number == 27 ? "selected" : null %>>27</option>
                                            <option value="28" <%= zapatillas.sizes.number == 28 ? "selected" : null %>>28</option>
                                            <option value="28.5" <%= zapatillas.sizes.number == 28.5 ? "selected" : null %>>28.5</option>
                                            <option value="29" <%= zapatillas.sizes.number == 29 ? "selected" : null %>>29</option>
                                            <option value="29.5" <%= zapatillas.sizes.number == 29.5 ? "selected" : null %>>29.5</option>
                                            <option value="30" <%= zapatillas.sizes.number == 30 ? "selected" : null %>>30</option>
                                            <option value="30.5" <%= zapatillas.sizes.number == 30.5 ? "selected" : null %>>30.5</option>
                                            <option value="31" <%= zapatillas.sizes.number == 31 ? "selected" : null %>>31</option>
                                            <option value="31.5" <%= zapatillas.sizes.number == 31.5 ? "selected" : null %>>31.5</option>
                                            <option value="32" <%= zapatillas.sizes.number == 32 ? "selected" : null %>>32</option>
                                            <option value="32.5" <%= zapatillas.sizes.number == 32.5 ? "selected" : null %>>32.5</option>
                                            <option value="33" <%= zapatillas.sizes.number == 33 ? "selected" : null %>>33</option>
                                            <option value="34.5" <%= zapatillas.sizes.number == 34.5 ? "selected" : null %>>34.5</option>
                                            <option value="35" <%= zapatillas.sizes.number == 35 ? "selected" : null %>>35</option>  
                                        </select>
                                    </div>
                                    <!--Stock-->
                                    <div class="form-group">
                                        <input type="number" class="form-control border-0 rounded-0 bg-light" name="stock" placeholder="Stock"  value="<%=zapatillas.stock%>">
                                    </div>
                                </div>
                            </div>
                            <!--Imágenes-->
                            <div class="col-12 d-flex flex-wrap justify-content-start align-items-end mx-auto px-0">
                                
                                    <figure class="col-4 d-flex flex-column justify-content-center align-items-center">
                                        <img class="w-100 border-1 p-1 col-6" src="/images/zapatillas/<%= zapatillas.images[0].filename%>" alt="imagen">
                                        <input type="hidden" name="oldImagen"  value="<%= zapatillas.images[0].filename%>">
                                        <input type="file" name="imagen[]" class="botonImg p-1 w-50" >
                                    </figure>    
                                    <figure class="col-4 d-flex flex-column justify-content-center align-items-center">
                                        <img class="w-100 border-1 p-1 col-6" src="/images/zapatillas/<%= zapatillas.images[1].filename%>" alt="imagen">
                                        <input type="hidden" name="oldImagen2"  value="<%= zapatillas.images[1].filename%>">
                                        <input type="file" name="imagen[]" class="botonImg p-1 w-50" >
                                    </figure>
                                    <figure class="col-4 d-flex flex-column justify-content-center align-items-center">
                                        <img class="w-100 border-1 p-1 col-6" src="/images/zapatillas/<%= zapatillas.images[2].filename%>" alt="imagen">
                                        <input type="hidden" name="oldImagen3"  value="<%= zapatillas.images[2].filename%>">
                                        <input type="file" name="imagen[]" class="botonImg p-1 w-50" >
                                    </figure>
                                    <figure class="col-4 d-flex flex-column justify-content-center align-items-center">
                                        <img class="w-100 border-1 p-1 col-6" src="/images/zapatillas/<%= zapatillas.images[3].filename%>" alt="imagen">
                                        <input type="hidden" name="oldImagen4"  value="<%= zapatillas.images[3].filename%>">
                                        <input type="file" name="imagen[]" class="botonImg p-1 w-50" >
                                    </figure>
                                    <figure class="col-4 d-flex flex-column justify-content-center align-items-center">
                                        <img class="w-100 border-1 p-1 col-6" src="/images/zapatillas/<%= zapatillas.images[4].filename%>" alt="imagen">
                                        <input type="hidden" name="oldImagen5"  value="<%= zapatillas.images[4].filename%>">
                                        <input type="file" name="imagen[]" class="botonImg p-1 w-50" >
                                    </figure>
                            </div>
                            <div class="col-12 form-group d-flex flex-wrap justify-content-center">
                                <button type="submit" class="col-6 mx-5 mt-5 btn btn btn-dark">Actualizar</button>
                                <a href="/adminProducts" class="col-6 mx-5 my-3 btn btn-light border">Volver</a>
                            </div>
                            
                        </form>
                    </div>                        
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer-->
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    
    <script src="/js/editProducts.js"></script>
</body>

</html>
