<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/administrar.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <section class="row">
        <article class="col-12 card pt-5 border-0">
            <div class="card-body">
                <h1 class="col-8 mx-auto pb-3 card-title text-center border-bottom">EDITAR PRODUCTOS</h1>
            </div>
        </article>
    </section>
    
    <section class="bg-home pt-4">
        <div class="container">
            <div class="row" >
                <div id="editar" class="col-8 mx-auto">
                    <div class="create-form">
                        <form action="/adminProducts/edit/<%= zapatillas.id%>?_method=PUT
                            " method="POST" enctype="multipart/form-data" >
                            
                            <div class="form-group">
                                <input type="text" class="form-control" name="marca" placeholder="Marca" required="required" value="<%= zapatillas.brands.name%>">
                            </div>	
                            <div class="form-group">
                                <input type="text" class="form-control" name="modelo" placeholder="Modelo" required="required" value="<%= zapatillas.examples.name%>">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="descripcion" placeholder="Descripción del producto" required="required" value="<%= zapatillas.description%>">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" name="precio" placeholder="Indique el precio" required="required" value="<%=zapatillas.price%>">
                            </div>
                            <div class="form-group">
                                
                                <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                    <option disabled value="#">Seleccione un descuento"</option>
                                    <option value="0" <%= zapatillas.descuento == 0 ? "selected" : null %>>Sin descuento</option>
                                    <option value="10" <%= zapatillas.descuento == 10 ? "selected" : null %>>10%</option>
                                    
                                </select>
                            </div>
                            <!--Aqui solicito la imagen al usuario-->
                            <div class="custom-file">
                                
                                
                            </div>                                
                            <figure>
                                <img class="w-100 border-1 p-1" src="/images/zapatillas/<%= zapatillas.image%>" alt="imagen">
                                <input type="hidden" name="oldImagen"  value="<%= zapatillas.image%>">
                                <input type="file" name="imagen" class="botonImg" >
                            </figure>    
                            <!--<figure>
                                <img class="w-100 border-1 p-1" src="/images/zapatillas/%= zapatillaEditar.imagen2%>" alt="imagen">
                                <input type="hidden" name="oldImagen2"  value="%= zapatillaEditar.imagen2%>">
                                <input type="file" name="imagen2" class="botonImg" >
                            </figure>
                            <figure>
                                <img class="w-100 border-1 p-1" src="/images/zapatillas/%= zapatillaEditar.imagen3%>" alt="imagen">
                                <input type="hidden" name="oldImagen3"  value="%= zapatillaEditar.imagen3%>">
                                <input type="file" name="imagen3" class="botonImg" >
                            </figure>
                            <figure>
                                <img class="w-100 border-1 p-1" src="/images/zapatillas/%= zapatillaEditar.imagen4%>" alt="imagen">
                                <input type="hidden" name="oldImagen4"  value="%= zapatillaEditar.imagen4%>">
                                <input type="file" name="imagen4" class="botonImg" >
                            </figure>
                            <figure>
                                <img class="w-100 border-1 p-1" src="/images/zapatillas/%= zapatillaEditar.imagen5%>" alt="imagen">
                                <input type="hidden" name="oldImagen5"  value="%= zapatillaEditar.imagen5%>">
                                <input type="file" name="imagen5" class="botonImg" >
                            </figure>-->
                            <div class="form-group">
                                <button type="submit" class="btn btn btn-dark">Actualizar</button>
                                <a href="/adminProducts" class="btn btn-dark">Volver</a>
                            </div>
                            
                        </form>
                    </div>                        
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer-->
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    
</body>

</html>
