<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/detalleProducto.css">
    
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    
    <main class="container-fluid">
        <!--Mobile-->
        <section class="row mt-0 d-sm-block d-lg-none mb-0 px-0">
            <!--Imágenes-->
            <article class="col-12 px-0">
                <div class="col-12 px-0">
                    <div class="imagenes-resto px-0">  
                        <% zapatillas.images.forEach((image, i) => { %>
                            <% if (i < 1) { %>
                                <img src="/images/zapatillas/<%= image.filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>">
                            <% } %>
                        <% }) %>
                        <div class="col-12 m-0 p-0 d-flex flex-wrap justify-content-around">
                            <% zapatillas.images.forEach((image, i) => { %>
                                <% if (i > 0) { %>
                                    <img src="/images/zapatillas/<%= image.filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>" class="col-5 py-3">
                                <% } %>
                            <% }) %>  
                        </div>               
                    </div>
                </div>
            </article>
            <!--Info producto-->
            <article class="col-12 col-md-12 py-3" style="background-color: <%= zapatillas.color %>">
                <div class="col-12 mb-4">
                    <p class="text-uppercase font-weight-bold mt-4 mb-0"><%= zapatillas.brands.name + " "%><%= zapatillas.examples.name %></p>
                    <p class="font-weight-bold"><%= '$' + zapatillas.price %></p>
                </div>
                <div class="col-12 mb-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark col-11 text-uppercase rounded-0 boton-añadir">añadir</button>
                </div>
                <div class="col-12 mb-4 pt-4">
                    <p class="col-12 descripcion-producto"><%= zapatillas.description %> </p>
                </div>
                <div class="col-12">
                    <p class="text-uppercase font-weight-bold"><%= "Colores: " + zapatillas.example_id.length %> </p>
                </div>
                <div class="col-12 mb-4 d-flex flex-wrap justify-content-around">
                    <% allZapatillas.forEach( zapatilla => { %>
                        <% if (zapatilla.example_id == zapatillas.example_id) {%> 
                            <a href="/productos/detalle/<%= zapatilla.id %> " class="col-4">
                                <div class="col-12 mx-auto px-auto d-flex justify-content-center">
                                    <img src="/images/zapatillas/<%= zapatilla.images[0].filename %>" alt="" class="col-12 py-3 align-self-center">
                                </div>
                            </a>
                        <% } %> 
                    <% }) %>
                </div>
                <div class="mb-5">
                    <p class="col-12 text-uppercase envios-devoluciones">Envíos gratis. Devoluciones gratis</p>
                </div>    
                <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer pt-5">
                    <a href="/" class="px-2">SNKRST</a>
                    <p class="my-auto">|</p>
                    <a href="/productos" class="px-2"> HOMBRE</a>
                    <p class="my-auto">|</p>
                    <a href="/productos" class="px-2"> NEW IN</a>
                </div>
            </article>
        </section>
        <!-- >=lg -->
        <section class="row mt-0">
            <article class="col-8 d-none d-lg-block px-0">
                <div class="col-12 px-0">
                        <img src="/images/zapatillas/<%= zapatillas.images[0].filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>" class="col-12 px-0">   
                </div>
                <div class="col-12 padre-imagenes-resto">
                    
                    <div class="imagenes-resto d-flex flex-wrap justify-content-around">
                        <% zapatillas.images.forEach((image, i) => { %>
                            <% if (i !== 0) { %>
                                <img src="/images/zapatillas/<%= image.filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>" class="col-5 py-5 align-self-center fotos-ampliadas">
                            <% } %>
                        <% }) %>
                         
                    </div>
                </div>                 
            </article>
            <!--Filtros, descripcion y botones-->
        <article class="col-4 d-none d-lg-block" style="background-color: <%= zapatillas.color %>">
                <!--Marca, modelo, id-->
                <div class="col-12 pt-3 pb-3">
                    <h2 class="text-uppercase font-weight-bold"><%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %></h2>
                    <p class="text-uppercase"><%= "código de producto: " + zapatillas.id %></p>
                </div>
                <!--Precio-->
                <div class="col-12 mt-3">
                    <% if (zapatillas.discount <= 0) { %>
                        <h3 class="font-weight-bold"><%= '$' + zapatillas.price %></h3>
                    <% } else if (zapatillas.discount >= 1){%>
                        <div class="d-flex justify-content-start text-align-center">
                            <h3 class="font-weight-bold mb-1 pr-1"><%= "$" +  `${zapatillas.price - zapatillas.price * zapatillas.discount / 100}` %></h3>
                            <p class="mb-1 pl-1 text-danger font-weight-bold descuento-zapatilla d-flex flex-column justify-content-center texto-descuento"><%= zapatillas.discount + '%OFF' %> </p>
                            
                        </div>
                        <h4 class="text-secondary"><del><%= "$" + zapatillas.price %></del></h4>
                    <% } %> 
                </div>
                <!--Imágenes filtro colores-->
                <div class="col-12 d-flex flex-wrap justify-content-start mt-5">
                    <p class="text-uppercase col-12 pl-0">colores</p>
                    <% allZapatillas.forEach( zapatilla => { %>
                        <% if (zapatilla.example_id == zapatillas.example_id && zapatilla.gender == zapatillas.gender) { %>
                            <a href="/productos/detalle/<%= zapatilla.id %> " class="col-3 py-2 px-2">
                            <div class="filtros-colores">
                                <img src="/images/zapatillas/<%= zapatilla.images[0].filename %> " alt="">
                            </div>
                            </a>
                        <% } %>
                    <% }) %>
                </div>
                <!--Talles-->
                <div class="col-12 d-flex flex-wrap justify-content-start mt-5">
                    <p class="col-12 text-uppercase pl-0">talles</p>
                    <% zapatillas.sizes.forEach(talle => { %>
                        <a href="#" class="col-2 py-2 px-2 text-decoration-none box-talles">
                            <div class="border text-center bg-white">
                                <p class="my-auto"><%= talle.number %> </p>
                            </div>
                        </a>
                    <% }) %>
                </div>
                <!--Boton añadir al carrito-->
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form action="/carrito" method="POST" class="col-12">
                        <input type="hidden" name="id" value="<%= zapatillas.id %>">
                        <button type="button" class="btn btn-dark col-12 text-uppercase rounded-0 boton-añadir">añadir al carrito</button>
                    </form>
                    
                </div>
                <!--Boton proceder al pago-->
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark col-11 text-uppercase rounded-0 boton-añadir">proceder al pago</button>
                </div>
                <!--Descripción de producto-->
                <div class="col-12 mt-5 d-flex flex-wrap justify-content-center">
                    <p class="col-12 descripcion-producto"><%= zapatillas.description %></p>
                </div>
                <!--Reseñas-->
                <div class="col-12 mt-5">
                    <p class="col-12 d-flex flex-wrap justify-content-center">
                        <button class="btn btn-dark d-flex flex-wrap justify-content-between col-10" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          <div>
                              <p class="text-uppercase">reseñas(23)</p>
                          </div>
                          <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="fas fa-caret-down"></i>
                          </div>
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                          
                      </div>
                </div>
            </article>
        </section>





    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/detalleProducto.js"></script>
</body>
</html>