<!DOCTYPE html>
<html lang="es">
<head>
    <%- include ('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/detalleProducto.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    
    <main class="container-fluid">
        <!--Mobile-->
        <section class="row mt-0 d-sm-block d-lg-none mb-2 px-0">
            <!--Imágenes-->
            <article class="col-12 px-0">
                <div class="col-12 px-0">
                    <div class="imagenes-resto px-0">   
                        <% zapatillas.images.forEach(image => { %>
                            <img src="/images/zapatillas/<%= image.filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>">
                        <% }) %>                    
                        <!--%= zapatillas.images[0].filename %--> 
                        
                    </div>
                </div>
            </article>
            <!--Info producto-->
            <article class="col-12 col-md-12">
                <div class="col-12 mb-4">
                    <p class="text-uppercase font-weight-bold mt-4 mb-0"><%= zapatillas.brands.name + " "%><%= zapatillas.examples.name %></p>
                    <p class="font-weight-bold"><%= '$' + zapatillas.price %></p>
                </div>
                <div class="col-12 mb-4 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark col-11 text-uppercase rounded-0 boton-añadir">añadir</button>
                </div>
                <div class="col-12 mb-4 pt-4">
                    <p class="descripcion-producto"><%= zapatillas.description %> </p>
                </div>
                <!--<div class="col-12">
                    <p class="text-uppercase font-weight-bold"><!--%= "Colores: " + zapatillas.imagen1 %> </p>
                </div>-->
                <div class="mb-4 d-flex flex-wrap justify-content-between">
                    <!--<img src="/images/zapatillas/%= miZapatilla.imagen2 %>" alt="%= miZapatilla.marca + " "%>%= miZapatilla.modelo %>" class="col-6 py-3 align-self-center">
                    <img src="/images/zapatillas/%= miZapatilla.imagen3 %>" alt="%= miZapatilla.marca + " "%>%= miZapatilla.modelo %>" class="col-6 py-3 align-self-center">
                    <img src="/images/zapatillas/%= miZapatilla.imagen4 %>" alt="%= miZapatilla.marca + " "%>%= miZapatilla.modelo %>" class="col-6 py-3 align-self-center">
                    <img src="/images/zapatillas/%= miZapatilla.imagen5 %>" alt="%= miZapatilla.marca + " "%>%= miZapatilla.modelo %>" class="col-6 py-3 align-self-center">-->
                </div>
                <div class="mb-5">
                    <p class="col-12 text-uppercase envios-devoluciones">Envíos gratis. Devoluciones gratis</p>
                </div>    
                <div class="col-12 d-flex justify-content-center align-items-center ruta-ante-footer pt-5">
                    <a href="/" class="px-2">SNKRST</a>
                    <p class="my-auto">|</p>
                    <a href="/productos" class="px-2"> HOMBRE</a>
                    <p class="my-auto">|</p>
                    <a href="/productos" class="px-2"> NEW IN</a>
                </div>
            </article>
        </section>
        <!-- >=lg -->
        <section class="row mt-0">
            <article class="col-8 d-none d-lg-block px-0">
                <div class="col-12 px-0">
                        <img src="/images/zapatillas/<%= zapatillas.images[0].filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>" class="col-12 px-0">   
                </div>
                <div class="col-12 padre-imagenes-resto">
                    
                    <div class="imagenes-resto d-flex flex-wrap justify-content-around">
                        <% zapatillas.images.forEach((image, i) => { %>
                            <% if (i !== 0) { %>
                                <img src="/images/zapatillas/<%= image.filename %>" alt="<%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %>" class="col-5 py-5 align-self-center fotos-ampliadas">
                            <% } %>
                        <% }) %>
                         
                    </div>
                </div>                 
            </article>
            <!--Filtros, descripcion y botones-->
        <article class="col-4 d-none d-lg-block" style="background-color: <%= zapatillas.color %>">
                <!--Marca, modelo, id-->
                <div class="col-12 pt-3 pb-3">
                    <h2 class="text-uppercase font-weight-bold"><%=  zapatillas.brands.name + " "%><%= zapatillas.examples.name %></h2>
                    <p class="text-uppercase"><%= "código de producto: " + zapatillas.id %></p>
                </div>
                <!--Precio-->
                <div class="col-12 mt-3">
                    <h3 class="font-weight-bold"><%= '$' + zapatillas.price %></h3>
                </div>
                <!--Imágenes colores-->
                <div class="col-12 d-flex flex-wrap justify-content-start mt-5">
                    <p class="text-uppercase col-12 pl-0">colores</p>
                    <!--% if (zapatillas.example_id == mismoModelo.id) { %>
                        % zapatillasModelos.images.forEach((modelo, i) => { %>
                            % if (i == 0) { %>                           
                                <a href="#" class="col-3 py-2 px-2">
                                    <div>
                                        <img src="/images/zapatillas/%= modelo.filename %>" alt="">
                                    </div>
                                </a>
                            % } %>   
                        % }) %>
                    % } %-->
                </div>
                <!--Talles-->
                <div class="col-12 d-flex flex-wrap justify-content-start mt-5">
                    <p class="col-12 text-uppercase pl-0">talles</p>
                    <a href="#" class="col-2 py-2 px-2 text-decoration-none">
                        <div class="border text-center">
                            <p class="my-auto">38</p>
                        </div>
                    </a>
                    <a href="#" class="col-2 py-2 px-2 text-decoration-none">
                        <div class="border text-center">
                            <p class="my-auto">38</p>
                        </div>
                    </a>
                    <a href="#" class="col-2 py-2 px-2 text-decoration-none">
                        <div class="border text-center">
                            <p class="my-auto">38</p>
                        </div>
                    </a>
                    

                </div>
                <!--Boton añadir al carrito-->
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <form action="/carrito" method="POST" class="col-12">
                        <input type="hidden" name="id" value="<%= zapatillas.id %>">
                        <button type="button" class="btn btn-dark col-12 text-uppercase rounded-0 boton-añadir">añadir al carrito</button>
                    </form>
                    
                </div>
                <!--Boton proceder al pago-->
                <div class="col-12 mt-5 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark col-11 text-uppercase rounded-0 boton-añadir">proceder al pago</button>
                </div>
                <!--Descripción de producto-->
                <div class="col-12 mt-5 d-flex flex-wrap justify-content-center">
                    <p><%= zapatillas.description %></p>
                </div>
                <!--Reseñas-->
                <div class="col-12 mt-5">
                    <p class="col-12 d-flex flex-wrap justify-content-center">
                        <button class="btn btn-dark d-flex flex-wrap justify-content-between col-10" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          <div>
                              <p class="text-uppercase">reseñas(23)</p>
                          </div>
                          <div>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="fas fa-caret-down"></i>
                          </div>
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                          
                      </div>
                </div>
            </article>
        </section>





    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
    <script src="/js/detalleProducto.js"></script>
</body>
</html>