<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/productos.css">
        <link rel="stylesheet" href="/css/navbar.css">  
    </head>
<body>
    <header>
        <%- include('../partials/navBar.ejs') %>
    </header>
    <main>
        
        <div class="orden-filtros pb-0 mt-0">
            <div class="marcas-arriba d-none d-md-block">
                <form class="d-flex justify-content-center" action="/productos/adidas" method="GET">
                    <a href="/productos/adidas" id="adidas">Adidas</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/converse" method="GET">
                    <a href="/productos/converse">Converse</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/dc-shoes" method="GET">
                    <a href="/productos/dc-shoes">DC Shoes</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/new-balance" method="GET">
                    <a href="/productos/new-balance">New Balance</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/nike" method="GET">
                    <a href="/productos/nike">Nike</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/rebook" method="GET">
                    <a href="/productos/reebok">Reebok</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos/vans" method="GET">
                    <a href="/productos/vans">Vans</a>
                </form>
                <form class="d-flex justify-content-center" action="/productos" method="GET">
                    <a href="/productos">Ver Todas</a>
                </form> 
            </div>
            
            <!--Filtros mobile-->
            <div class="dos-drops1 col-12 d-flex justify-content-end d-sm-block d-md-none content-mov" id="filtros-mobile">
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        orden
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/productos/novedades" id="novedades">Novedades</a>
                        <a class="dropdown-item" href="#" id="mas-vendidos">Los más vendidos</a>
                        <a class="dropdown-item" href="/productos/orden-menor-mayor" id="menor-mayor">Precio (menor a mayor)</a>
                        <a class="dropdown-item" href="/productos/orden-mayor-menor" id="mayor-menor">Precio (mayor a menor)</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        + filtros
                    </button>
                    <div class="dropdown-menu dropdown-menu-right filtros-menu-drop" aria-labelledby="dropdownMenuButton">
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">talles</a>
                            <div class="padre-box-talles">
                                <a href="#"><div class="box-talles">38.5</div></a>
                                <a href="#"><div class="box-talles">39</div></a>
                                <a href="#"><div class="box-talles">39.5</div></a>
                                <a href="#"><div class="box-talles">40</div></a>
                                <a href="#"><div class="box-talles">40.5</div></a>
                                <a href="#"><div class="box-talles">41</div></a>
                                <a href="#"><div class="box-talles">41.5</div></a>
                                <a href="#"><div class="box-talles">42</div></a>
                                <a href="#"><div class="box-talles">42.5</div></a>
                                <a href="#"><div class="box-talles">43</div></a>
                                <a href="#"><div class="box-talles">43.5</div></a>
                                <a href="#"><div class="box-talles">44</div></a>
                                
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">colores</a>
                            <div class="padre-box-colores">
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-naranja"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rojo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-azul"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-celeste"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-verde"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-amarillo"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-violeta"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-rosa"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-marron"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-gris"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-blanco"></i></a>
                                <a href="#"><i class="fas fa-circle circulos-filtros" id="circulo-negro"></i></a>
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <p class="titulo-panel-filtros">Precio</p>
                            <div class="card-body padre-box-precio">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" id="inputEmail4" placeholder="$0">
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label>Max</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" placeholder="$99.999,99">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Filtros >=md -->
            <div class="dos-drops content-drop">
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        orden
                    </button>
                    <div class="dropdown-menu dropdown-menu-right titulo-panel-filtros" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/productos/novedades" id="novedades">Novedades</a>
                        <a class="dropdown-item" href="#" id="mas-vendidos">Los más vendidos</a>
                        <a class="dropdown-item" href="/productos/orden-menor-mayor" id="menor-mayor">Precio (menor a mayor)</a>
                        <a class="dropdown-item" href="/productos/orden-mayor-menor" id="mayor-menor">Precio (mayor a menor)</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle boton-orden-filtro" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        + filtros
                    </button>
                    <div class="dropdown-menu dropdown-menu-right filtros-menu-drop" aria-labelledby="dropdownMenuButton">
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">talles</a>
                            <div class="padre-box-talles">
                                <a href="#"><div class="box-talles">38.5</div></a>
                                <a href="#"><div class="box-talles">39</div></a>
                                <a href="#"><div class="box-talles">39.5</div></a>
                                <a href="#"><div class="box-talles">40</div></a>
                                <a href="#"><div class="box-talles">40.5</div></a>
                                <a href="#"><div class="box-talles">41</div></a>
                                <a href="#"><div class="box-talles">41.5</div></a>
                                <a href="#"><div class="box-talles">42</div></a>
                                <a href="#"><div class="box-talles">42.5</div></a>
                                <a href="#"><div class="box-talles">43</div></a>
                                <a href="#"><div class="box-talles">43.5</div></a>
                                <a href="#"><div class="box-talles">44</div></a>
                                
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <a class="dropdown-item titulo-panel-filtros" href="#">colores</a>
                            <div class="padre-box-colores">
                                <% zapatillas.forEach(zapatilla => { %>
                                    <a href="#"><i class="fas fa-circle circulos-filtros" style="color: <%= zapatilla.color %>"></i></a>
                                <% }) %>
                            </div>
                        </div>
                        <div class="contenedores-panel-filtros">
                            <p class="titulo-panel-filtros mt-5">Precio</p>
                            <div class="card-body padre-box-precio">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" id="inputEmail4" placeholder="$0">
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label>Max</label>
                                        <input type="number" class="form-control rounded-0 border border-dark" placeholder="$99.999,99">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <section class="lista-productos row d-flex justify-content-start mx-auto">
            <% zapatillas.forEach( zapatilla => { %> 
                    <article class="col-6 col-md-6 col-lg-4 col-xl-3 p-2">
                        <figure>
                            <a href="/productos/detalle/<%= zapatilla.id %>">
                                <div class="fondo-gris-productos mx-auto">
                                    <img src="/images/zapatillas/<%= zapatilla.images[0].filename %>" alt="<%= zapatilla.brands.name + " " + zapatilla.examples.name %> ">                                
                                </div>
                            </a>
                            <div class="modelo-precio text-center">
                                <p><%= zapatilla.brands.name + " " + zapatilla.examples.name %></p>
                                <% if (zapatilla.discount <= 0) { %>
                                    <p><%= "$" + zapatilla.price %> </p>
                                <% } else if (zapatilla.discount >= 1){%>
                                    <div class="d-flex justify-content-center text-align-center">
                                        <p class="mb-1 pr-1 text-danger descuento-zapatilla d-flex flex-column justify-content-center"><%= zapatilla.discount + '%OFF' %> </p>
                                        <p class="text-decoration-underline mb-1 pl-1"><%= "$" +  `${zapatilla.price - zapatilla.price * zapatilla.discount / 100}` %></p>
                                    </div>
                                    
                                    <p class="text-secondary "><del><%= "$" + zapatilla.price %></del></p>
                                <% } %> 
                            </div>
                        </figure>
                    </article>
            <% }) %>
        </section>  
        
        
    </main>
    <!-- FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>